---
layout: archive
title: "Research Overview"
permalink: /talks/
author_profile: true
---

<h2>Projects and Talks</h2>

Here is a brief overview of some of my recent research projects (including my M.Sc. projects) and talks.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Conferences and Workshops</h2>

Here are some of the most recent conferences that I have attended.
<ul>
  <li><strong>SIAM TX-LA Sectional Meeting 2025</strong>, UT Austin, September 26–28, 2025</li>
  <li><strong>SUMIRFAS 2025</strong>, Texas A&amp;M University, August 1–3, 2025</li>
  <li><strong>Dynamical Systems and Fractal Geometry</strong>, UNT Denton, May 14-17, 2024</li>
  <li><strong>Texas Analysis and Mathematical Physics Symposium</strong>, Texas A&amp;M University, February 9–11, 2024</li>
</ul>
