---
layout: archive
title: "Research Overview"
permalink: /talks/
author_profile: true
---


Here is a brief overview of some of my recent research projects (including my M.Sc) and talks.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

With **confer** I guess

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

And some **conferences** below.
