---
layout: archive
title: "Research Overview"
permalink: /talks/
author_profile: true
---

## Projects and Talks

Here is a brief overview of some of my recent research projects (including M.Sc. projects) and talks.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

## Conferences and Workshops

Here are some of my most recent conferences and workshops that I have attended.

- **SIAM TX-LA Sectional Meeting 2025**, UT Austin, September 26–28, 2025
- **SUMIRFAS 2025**, Texas A&M University, August 1–3, 2025
- **Texas Analysis and Mathematical Physics Symposium**, Texas A&M University, February 9–11, 2024
