---
layout: archive
permalink: /year-archive/
title: "Miscellaneous"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
show_date: false
read_time: false
---
I have found these seminars quite enriching for me at UT Dallas
<ul>
  <li><strong>Computational Science</strong> Seminar</li>
  <li><strong>Nonlinear Analysis and Dynamical Systems</strong> Seminar</li>
  <li><strong>Image and Signal Analysis</strong> Journal Club</li>
</ul>

Some resources, I have found useful <br>
<ul>
  <li><strong>MIT OCW</strong> (OpenCourseWare)</li>
</ul>

I have been also involved in outreach activities through <strong>SIAM</strong> (Society for Industrial and Applied Mathematics).<br>


Outside of academia, I like hiking, lifting weights and board games among various other things. 


<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
-->
