---
layout: archive
permalink: /year-archive/
title: "Miscellaneous"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
show_date: false
read_time: false
---

I have found the following seminars at UT Dallas particularly enriching:
<ul>
  <li>
    <strong>
      <a href="https://math.utdallas.edu/computational-science-seminar/">
        Computational Science Seminar
      </a>
    </strong>
  </li>
  <li>
    <strong>
      <a href="https://math.utdallas.edu/colloquium/">
        Department Colloquium
      </a>
    </strong>
  </li>
</ul>

Some resources I have found useful for learning and reference:<br>
<ul>
  <li>
    <strong>
      <a href="https://ocw.mit.edu/search/?d=Mathematics">
        MIT OpenCourseWare
      </a>
    </strong> (OCW)
  </li>
  <li>
    <strong>
      <a href="https://math.libretexts.org/">
        Mathematics LibreTexts
      </a>
    </strong>
  </li>
  <li>
    <strong>
      <a href="https://www.mathworks.com/help/matlab/index.html">
        MATLAB
      </a>
    </strong> documentation
  </li>
  <li>
    <strong>
      <a href="https://cain.math.gatech.edu/textbooks/onlinebooks.html">
        Online free textbooks
      </a>
    </strong> for a range of topics in mathematics.
  </li>
  <li>
    <strong>
      <a href="https://mapoftheuniverse.net/">
        Map of the universe.
      </a>
    </strong>, an interactive visualization
  </li>
  <li>
    <strong>
      <a href="https://www.3blue1brown.com/">
        3Blue1Brown
      </a>
    </strong>, mathematical concepts explained through animations.
  </li>
</ul>


I have also been involved in outreach activities through
<strong>
  <a href="https://www.siam.org">
    Society for Industrial and Applied Mathematics
  </a> (SIAM), UTD-SMU Student Chapter.
</strong>
<br>

Outside of academia, I enjoy hiking and visiting national and state parks, as well as maintaining an active fitness routine.


<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
-->
